[Desktop Entry]
Type=Service
Name=KDE Driver Management Device Detector

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kdrivermanagementdevicedetector
X-KDE-FactoryName=kdrivermanagementdevicedetector
X-KDE-Kded-autoload=true

Comment=Listens for hotplug devices and Searches for approprivate device driver, powered by ldm
